* {
    color: green;
    background-color: black; /*All text is green and background black*/
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px; /*Style for the title*/
    text-align: center;
    color: green;
    background-color: black;
    line-height: 1px;
}

h2{ 
    font-size: 50px; /*Makes the questions bigger*/
}

.scores a{
    display: inline; /*Style for the link to highscores*/
    font-size: 30px;
}
.timer { /*Style for the timer, makes it big and to the right, but not all the way*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 35px;
    padding-right: 20px;
}
.wrapper { /*Makes general text a bit bigger for easier reading*/
    font-size: 20px;
    text-align: center;
}
.hide {
    display: none; /*Allows me to hide and display different elements depending on the functions being run*/
  }
#start-button { /*Makes start button big*/
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
 
  #start-button:hover { /*Adds hover effect to start button*/
    background-color: lightgreen
  }
  #high-scores-list { /*Centers and unstyles highscore list*/
    text-align: center;
    list-style: none;
    font-size: 25px;
  }

  #choices button { /*Style for answer buttons*/
    background-color: green;
    border: 2px;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #choices button:hover { /*Adds hover effect to answer buttons*/
    background-color: lightgreen;
  }
  
  #choices button:active {
    background-color: green;
  }